<?xml version="1.0"?>
<!--
/**
 * @category Scandiweb
 * @package Scandiweb/test
 * @author Krists Miculis <info@scandiweb.com>
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Scandiweb_Test"/>
</config>
